@import "../../src/scss/variables.scss";
@import "../../src/scss/breakpoints.scss";

.who-we-are {
  padding: 120px 0px 120px 0px;
  @include bp-tablet-sm {
    padding: 60px 0px 60px 0px;
  }
  h2 {
    margin-bottom: 60px;
    @include bp-tablet-sm {
      margin-bottom: 20px;
    }
  }
  img {
    margin-bottom: 20px;
  }
  p {
    &#author {
      text-align: center;
      color: $heading;
      margin-top: 0px;
    }
  }
}
