@import "../../src/scss/breakpoints.scss";
@import "../../src/scss/variables.scss";

.inner-hero {
  background: $green;
  padding: 180px 0px 120px 0px;
  margin-top: 0px;
  text-align: center;

  h1 {
    color: $white;
  }
  p {
    color: rgba($white, 0.7);
  }
  h1 {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  p {
    font-size: 18px;
    margin-bottom: 0px;
  }
  hr {
    width: 50px;
    margin-top: 0px;
    margin-bottom: 30px;
    border-bottom: 1px solid $white;
  }
  span {
    padding: 0px 5px 0px 5px;
  }
}
