@import "../../src/scss/variables.scss";
@import "../../src/scss/breakpoints.scss";

.footer {
  padding: 120px 0px 120px 0px;
  @include bp-tablet-sm {
    padding: 60px 0px 60px 0px;
  }
  ul {
    list-style: none;
    margin-left: -40px;
  }
}
