@import "../scss/breakpoints.scss";
@import "../scss/variables.scss";

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 20px;
  font-family: $heading-font;
  font-weight: 300;
  color: $heading;
  @include bp-tablet-sm {
    line-height: 1.6;
  }
}

a,
p,
ol,
ul {
  font-size: 18px;
  font-family: $body-font;
  line-height: 1.8;
}

a {
  color: $green;
  transition: 0.2s;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  &:focus,
  &:hover {
    color: $heading;
    text-decoration: none;
  }
}

h1 {
  font-size: 60px;
  @include bp-tablet-sm {
    font-size: 30px;
  }
}

h2 {
  font-size: 42px;
  @include bp-tablet-sm {
    font-size: 28px !important;
  }
}

h3 {
  font-size: 50px;
  @include bp-tablet-sm {
    font-size: 24px !important;
  }
}

h4,
h5 {
  font-weight: 500;
}
